<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WZXSSLTool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B9789B81CA9154100C0E3BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B9789D11CA9154100C0E3BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B9789DC1CA9154100C0E3BB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
